
body{
  background-color: #434a5d; 
}


.App-noodle {
  text-align: center;
  background-color: #434a5d;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.cardGrid{
  display: flex;
  font-size: 12px;
  flex-direction: row;
 font-family: SoeliRegular;
  padding-top: 4px;

  text-align: left;

}


.cardbody{
  color: #d4e9eb;
  background-color: #434a5d;
 font-family: CinzelDecorativeRegular;
 text-align: center;
 border-radius: 20px;
 font-weight: 600;
 padding-top: 1px;
 padding-bottom: 1px;

}
.img-noodle{
  height: 31vmin;
 

}
.titlecard{
  font-weight: 600;
  font-size: 16px;
font-family: CinzelDecorativeRegular;
color: #faa831;
}


.list-ingredient{
display: inline-flex;
color: #faa831; 
font-size: 16px;
font-family: SoleilRegular;
flex-direction: row;
list-style-type: none;

}

.details{

  list-style-type: none;
  font-size: 10px;
  text-align: left;
  padding-left: 5%;
  
  
}


.App-header-sesame {
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 1vmin);
  color: #faa831;
  font-family: CinzelDecorativeBold;
}


.noodle-vid{
  width: 140px;
  height: 35px;
margin-bottom: 5px;
  border-radius: 10px;
  background-color: #689288;
  color: #d4e9eb;
  font-size: 14px;
  font-weight: 600;
}
