*{

  
    align-items: center;
    }

    body {
        background-color: #3f4552;
    }

    .heading h1{
        color:white;
        font-size:24px;
       letter-spacing: 1px;
        padding-top: 2px;
        text-align: center;
        
    }

    .heading h2{
        border-radius: 20px;
        border: 2px solid #3f4552;
        text-align: center;
        color:  #3f4552;;
        font-size:15px;
        padding-top: 2px;
        padding-bottom: 2px;
       
        
    }

    .heading h2:hover{
        color:  #bfd0d1; 
      border: 2px solid #bfd0d1;
     
    }
.h2-qelink{
    text-decoration: none;
}

   
    .container{
        width:100%;
        margin:0 auto;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .card.img{
        width:200px;
        height:180px;
    
        border-radius: 30px;
        border: 2px solid #d4e9eb;
       
    }

    .Recipe{
        cursor: pointer;
        
    }

    .column {
        float: left;
        width:200px;
        min-height: 220px;
 
height:200px;
        display:grid; 
        
      
      }

      .card {
        background-color:#BFD0D1;
        border-radius: 10px;
        padding:5px;
        height: 300px;
        width: 300px;

      }

      
      .card:hover {
        background-color: #395951;
        color:  #bfd0d1; 
      }
   

      .column{
        margin: 50px; 
      }
   