.App-ask {
  text-align: center;
  background-color: #434a5d;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.asktButton-link{
  text-decoration: none;
  height: 50px;

}



.App-header-ask {

 background-color: #434a5d;
  color: #bfd0d1; 
  justify-content: center;
  font-size: calc(8px + 2vmin);
  font-weight: 500;
 
  
}

.buttom-ask{
  width: 270px;
  height: 50px;
  margin-top: 80px;
  border-radius:10px;
  background-color: #689288;
  color: #cedcdd;
  font-size: 20px;
  font-weight: 600;
}
.buttom-ask:hover {
  background-color: #395951;
  color: #d4e9eb;
}