.App-startcooking {
    text-align: center;
    background-color: #434a5d;

  }
  
 body{
  background-color: #434a5d;
 }

 .h2title1{
   font-size: 20px;
   font-family: CinzelDecorative-Bold;
  padding: 5PX;
 }

 .h4title1{
  font-size: 20px;
  font-family: SoleilRegular;
 padding: 8PX;
 color: #bfd0d1;
 }
  .App-title-startcooking {
    background-color: #434a5d;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 1vmin);
    color: #faa831;
    text-align: center;
    margin:10px;
  }
  

  
  .start-video-button {
    width: 140px;
    height: 35px;
  margin-bottom: 5px;
    border-radius: 10px;
    background-color: #689288;
    color: #e7f6f8;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
  }

  .start-video-button:hover{
    background-color: #395951;
  }

  
  .icons {
    display: flex;
   align-items: center;
 
margin-top: 10px;
margin-left: 10px;
 
  
    }
    .row-icon{
align-items: center;

    }

.itemtext{
 
  align-items: center;
}


 .back-card{
  background-color: #434a5d;
   text-align: center;
   color: #faa831;
   border-radius: 20px;
   margin: 10px;
   align-items: center;
   
  
 } 
 

.pause-icon {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: #bfd0d1;
  border-radius: 50%;
  margin-top: 4%;
  
  color:  #434a5d;
  font-size: 14px;
  font-weight: 500;
 padding: 6px;
}

.para{
  text-decoration: none;
}

.img-startcooking{

  height: 28vmin;
}
.infovoice{
  align-items: center;
  align-content: center;
}