.App {
    text-align: center;
    
    
  
  }
  
  
  
  h4{
    padding-top: 20%;
  }
  
  .App-header {
   min-height: 100vh;
   background-color: #434a5d;
    color: #689288; 
    justify-content: center;
    font-size: calc(8px + 2vmin);
    font-weight: 500;
    
    
  }
  
  .buttom{
    width: 300px;
    height: 70px;
    margin-top: 15%;
    border-radius:20%;
    background-color: #689288;
    color: #ddedee;
    font-size: 24px;
  }
  