.App-thanks {
    text-align: center;
  }
  
  .App-logo-thanks {
    height: 27vmin;
    pointer-events: none;
    background-color: #bfd0d1;
    border-radius: 50%;
  
    
  }
  
  
  
  .App-header-thanks {
    background-color: #434a5d;
  padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color:#faa831;
    font-family: CinzelDecorativeBold;
    font-size: 50PX;
   
  }
  
  
  
  
  .startButton-thanks{
    width: 270px;
    height: 50px;
    margin-top: 10%;
    border-radius:10px;
    background-color: #689288;
    color: #e9f4f5;
    font-size: 22px;
    font-weight: 500;
  }

  .startButton-thanks:hover {
    background-color: #395951;
    color: #d4e9eb;
  }
  