.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  background-color:#bfd0d1;
  border-radius: 50%;

}


.navbar {
  background-color: #689288;
display: flex;

   font-size: calc(10px + 2vmin);
  color: white;
  height: 10vmin; 
  
}

.App-backArrow{
  height: 5vmin;
}

.me-auto {
  list-style-type: none;
  margin: 3px;
  display: inline;
 
}

.App-menu{
  height: 5vmin;
 
  
  
  
}

.NavDropdown{
  display:list-item;
  
  
}

.App-start {
  text-align: center;
}


.App-header-start {
  background-color: #434a5d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: #faa831;
  /*font-family: CinzelDecorative, serif;*/
}


