.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #bfd0d1;
  
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.header {
  background-color: #689288;
  height: 100px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #bfd0d1;
  flex-direction: column;
  align-items: center;
}
.navbar{
  color: #434a5d;
  background-color: #689288;
  
}
.logo{
 margin-left: 80px;
 margin-top:25px;
  width: 60px;
  height: 60px;
  background-color:#bfd0d1;
  border-radius: 50%;

}

.menu{
  color: #434a5d;
  width: 100px;
  height: 25px;
 padding-left: 95%;
 
 }

 .dropDown{
  background-color: #bfd0d1;
 
 
 }

.item{
  
  color: #434a5d;
  width: 50px;
  text-decoration: none;
  font-weight: 500;
}

.hammenu{
  width: 60px;
  height: 60px;

  
}

