.App {
  text-align: center;
  
  
  
}

body{
  background-color: #3f4552;
}

.App-logo {
  height:10vmin;
  pointer-events: none;
  background-color:#bfd0d1;
  border-radius: 50%;
  margin-left: 20px;
 margin-top: 10px;
 margin-bottom: 10px;

}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background-color: #689288;
  justify-content: space-between;
font-size: calc(10px + 2vmin);
  color: white;
  list-style-type: none;
display:flex;
}





.App-menu{
  height: 5vmin;
  margin-left: 95%;
 
}

.NavDropdown{
  list-style-type: none;
  background-color:#bfd0d1;
  color: #434a5d;
  font-size: 18px;
  width: 100px;
margin-right: 20px;
  
 }

  





