*{

    margin:0;
    padding:10px;
    box-sizing: border-box;
    align-items: center;
    }

    body {
        background-color:#414D6E;
    }

    .heading h1{
        color:white;
        font-size:30px;
        font-weight:900;
        letter-spacing: 1px;
        padding-top: 2px;
        text-align: center;
        text-shadow: 3px 6px rgba(50,50,0,7.);
    }

    .heading h2{
        text-align: center;
        color:white;
        font-size:15px;
        
    }
    .searchBox{
        text-align: center;
        margin: 3px;
    }

    .search-bar{
        width:200px;
        height:40px;
        border:none;
        outline:none;
        border-radius:30px;
        padding:15px 20px;
        cursor: pointer;

    }
    .container{
        width:80%;
        margin:0 auto;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .card img{
        width:300px;
        height:300px;
        object-fit: cover;
        border-radius: 30px;
       
    }

    .Recipe{
        cursor: pointer;
        
    }

    .column {
        float: left;
        width: 20.33%;
        padding: 5px;
        width:200px;
        height:200px;
        display:grid; 
      
      }
      
      .img{
          border-radius:20px;
        
         
      }
      
   
   