*{
 align-items: center;
    }

   

    .heading h1{
        color:white;
        font-size:30px;
        font-weight:800;
        letter-spacing: 1px;
        padding-top: 2px;
        text-align: center;
        text-shadow: 3px 6px rgba(50,50,0,7.);
    }

    .heading h2{
        text-align: center;
        color:white;
        font-size:15px;
        
    }
    .searchBox{
        text-align: center;
        margin: 3px;
    }

    .search-bar{
        width:200px;
        height:40px;
        border:none;
        outline:none;
        border-radius:30px;
        padding:15px 20px;
        cursor: pointer;
        margin-top: 20px;

    }
    .container{
      
     
       display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .card img{
        width:250px;
        height:250px;
      align-items: center;
        border-radius: 30px;
       
    }

    .Recipe{
        cursor: pointer;
        
    }

    .column {
       
       padding-top: 1px;
        width:250px;
        height:200px;
        display: flex;
    flex-direction: column;
        text-align: center;
        align-items: center;
      
      }
      
      .img{
          border-radius:20px;
        
    width: 140px;
        height: 100px;

       

         
      }
      
      .btn-group {
        position: relative;
        display: inline-block;
        padding-right: 30px;
        font-family: CinzelDecorative-Bold;
      }
   