*{


  /* padding:6px; */
  /* box-sizing: border-box; */
  align-items: center;

  
  }

  body {
    background-color: #434a5d;

     
  }
  .heading h1{
      color:white;
      font-size:20px;
      font-weight:900;
      letter-spacing: 1px;
      padding-bottom: 20px;
      text-align: center;
      text-shadow: 3px 6px rgba(50,50,0,7.);
  }
.linksasame{
  text-decoration: none;
}

  .para{
    color:white;
    font-size:15px;
    font-weight:800px;
    letter-spacing: 1px;
    padding-left:30px;
    text-align: center;
    text-shadow: 3px 6px rgba(50,50,0,7.);
}
 
  .img-recipe{
      border-radius:20px;
      float: left;
      height: 50px;
      width: 70px;
      padding-top: 4px;
      padding-left: 5px;
    
    
  }

  
  
  .danger {
    border-radius:15px;
    background-color: #BFD0D1;
    height:35px;
    margin-bottom: 15px;
    padding: 12px 12px;
   
    width: 250px;
  }
  
  .success {
    border-radius:15px;
    background-color: #BFD0D1;
    height:35px;
    margin-bottom: 15px;
    padding: 12px 12px;
    width: 250px;
  }
  
  .info {
    border-radius:15px;
    background-color: #BFD0D1;
    height:35px;
    margin-bottom: 15px;
    padding: 12px 12px;
    width: 250px;
  }
  
  
  .warning {
    border-radius:15px;
    background-color: #BFD0D1;
    height:35px;
    margin-bottom: 15px;
    padding: 12px 12px;
    width: 250px;
    
    
  }
  .button {
    border-radius: 10px;
    background-color: #6D968C;
    border: none;
    color: #FFFFFF;
   
    font-size: 20px;
  
    width: 270px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
    
    
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
   
  }
  
  .button:hover span {
    padding-right: 25px;
  
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
 
  .container{
    padding-top:30px;
    padding-left: 10px;
    padding-right:10px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
  }

  .btn{
  
  }
  

