.App-try {
    text-align: center;
    background-color: #434a5d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  h4{
  padding-top: 60%;
  
  }
  
  .App-header-try {
  
   background-color: #434a5d;
    color: #689288; 
    justify-content: center;
    font-size: calc(8px + 2vmin);
    font-weight: 500;
    
    
  }
  
  .buttom-newplan{
    width: 270px;
    height: 50;
    margin-top: 60%;
    border-radius:20%;
    background-color: #689288;
    color: #ddedee;
    font-size: 20px;
    
  }
  
