.App-try {
    text-align: center;
    background-color: #434a5d;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  h4{
  padding-top: 60%;
  font-family: CinzelDecorative-Black; 
  font-size: calc(12px + 2vmin);
  font-weight: 900;
  }
  
  .App-header-try {
  
   background-color: #434a5d;
    color: #689288; 
    justify-content: center;
  
    
    
  }
  
  .buttom-newplan{
    width: 270px;
    height: 50px;
    margin-top: 30%;
    border-radius:10px;
    background-color: #689288;
    color: #ddedee;
    font-size: 22px;
    
  }

  .buttom-newplan:hover{
    background-color: #395951;

  }
  
